body {
    background-color: white;
    color: white;
}

#container {
    background-color: rgb(3, 3, 4);
    width: 65%;
    margin: 20px auto;
    padding: 20px;
    border:2px solid #000000;
    border-radius: 20px;
}

#banner {
    width: 100%;
    border-radius: 15px;
    height: auto;
}

#col1 {
    width: 60%; /* Adjust the width as needed */
    margin: 20px;
    padding: 20px;
    border: 2px solid #000000;
}

#col2 {
    width: 35%; /* Adjust the width as needed */
    margin: 20px;
    padding: 20px;
    border: 2px solid #000;
}

.main-header{
    text-shadow: #fffcfc 2px 2px 2px;
    text-align: center;
    font-size: 50px;
}

.heading_style {
    text-shadow: 2px 2px 2px #11ff00;
    text-align: center;
}

.heading_style_2 {
    text-shadow: 2px 2px 2px #11ff00;
    text-align: center;
    font-size: 50px;
    color: white;

}

.heading_style_3 {
    text-shadow: 2px 2px 2px #11ff00;
    
    

}

.and_copy {
    text-align: center;
}

.game_post {
    width: 100%;
    border-radius: 20px;
}   


    

img{
    display: block;
    margin: 0 auto;
    width: 100%;
}

header{
    padding: 5x;
    text-align:center ;
}

header h1 {
    color: rgb(0, 0, 0);
    font-weight:bold;
    font-size: 24px;
    border-bottom: 2px solid #000;
    padding: 10px;
}

nav{
    text-align: center;
    margin:20px 0;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;

}

nav ul{
    list-style-type: none;
    padding: 0;
    
}

nav li{
    display: inline-block;
}
nav li a{
    display: block;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 20px;
    padding: 10px 20px; 
    width: auto; 
    line-height: normal;
    border-radius: 15px;
}

nav a:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#twocol {
    display: flex;
    
}

main img {
    display: block;
    margin: 20px auto;
    width: 100%; 
    max-width: 600px; 
    border-radius: 10px;
}

footer {
    padding: 40px;
    text-align: center;
}
.footer-links {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
    text-align: center;}

.footer-links a:link {
    color: white; /* Color of unvisited links */
    text-decoration: none;
}

.footer-links a:visited {
    color: white; /* Color of visited links */
}

.footer-links a:hover {
    color: lightgray; /* Color when hovering over links */
    text-decoration: underline;
}

.footer-links a:active {
    color: green; /* Color when the link is clicked */
}
